<p>login works!</p>
<div class="contentImageFlex">
   <img class="bg-img" src="../../../assets/image/image background.png">

   <div class="card">
      <img class="logo" src="../assets/logo/A-logo-oficial.png" width="120" alt="Logo Otto">
      <form>
         <span><p>Acesse seu perfil</p></span>
      <h5>Sistema Hospitalar</h5> 

      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

       
      <a>Esqueci a senha</a>

      <div class="buttonContent">
         <button type="button" class="btn btn-primary" routerLink="/abertura">Login</button>
      </div>
      </form>
      
   </div>

   
</div>


