@import '../../../styles.scss';

.contentImageFlex {
   display: flex;
   align-items: center;
   justify-content: center;

   .bg-img {
      opacity: 0.5;
   }

   .card {
      height: 300px;
      width: 200px;
      position: absolute;
      display: flex;
      align-items: center;
   }

}  
  