<button type="button" class="btn btn-primary" (click)="openModalWithClass(template)">Open modal with custom css class</button>
<br>
 
<ng-template #template>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
         <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
   </div>

   <div class="modal-body">
      <p>
         Just a modal with a bunch of words inside, nothing serious.

         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lacinia 
         magna nisi, sit amet sodales turpis molestie vel. Vivamus sed ullamcorper 
         ex. Curabitur ut tellus lorem. Cras consectetur id felis vitae pretium. 
         Vestibulum mattis mi vitae mauris convallis, ut luctus mi euismod. Sed ut 
         nisi libero. Donec nibh turpis, cursus et volutpat quis, aliquet eget 
         tellus. Duis a blandit lacus. Curabitur gravida posuere convallis. Nunc ut 
         auctor nulla. Phasellus non nulla ut quam posuere pharetra. Proin rutrum 
         est eget ipsum efficitur, a luctus urna pulvinar. Vestibulum risus massa, 
         fermentum condimentum quam vitae, semper tincidunt mi. Cras interdum molestie 
         nibh in bibendum. Nulla sit amet justo ac elit tincidunt interdum ut in turpis.
      </p>
      
   </div>
</ng-template>
