/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Variables color
$btn-blue: #2B2AFC;


* {
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
   box-sizing: border-box;
}


body {
   height: 2000px;
   width: 100%;
}


// Theme Light
body.light {
   background: white;
   color:#222222;
   
   // Buttom
   .btn-primary {
      background-color: $btn-blue !important;
      border-color: $btn-blue !important;
   }

   // Menu migalha
   .breadcrumb a {
      text-decoration: none;
      color: $btn-blue;
   }


   // Acordeon
   .accordion-item {
      width: 640px;

      .accordion-button {
         background-color: rgba(0, 0, 0, 0.03);
      }
   }

   // Table
   table {
      tr:hover {
         background-color: #F0F3F2;
      }
   }

   // Pagination
   .page-link {
      color: $btn-blue;
   }

   // Checks
   .form-check-input:checked {
      color:$btn-blue;
      background-color: $btn-blue;
      border: 1px solid $btn-blue;
   }

   // tabs ngx-bootstrap
   a.nav-link {
      color: $btn-blue;
   }

   .nav-tabs .nav-link.active, 
   .nav-tabs .nav-item.show .nav-link {
      color: $btn-blue; 
   }

   


}







// Theme Dark
body.dark {
   background: #222222;
   color:white;
   
   // Buttom
   .btn-primary {
      background-color: $btn-blue !important;
      border-color: $btn-blue !important;
   }

   // Card
   .card {
      border: 1px solid #2b2b2b;
      background-color: #1b1b1b;
      
      .card-header {
         background-color: #2b2b2b;
         border-bottom: none;
      }
   }

   // Menu migalha
   .breadcrumb a {
      text-decoration: none;
      color: $btn-blue;
   }

   // Acordeon
   .accordion-item {
      width: 640px;
      border: 1px solid #2b2b2b;
      background-color: #1b1b1b;
     
      .accordion-button {
         background-color: #2b2b2b;
         color: white;
      }
   }

   // Button Dropdown
   .dropdown-menu {
      background-color: #1b1b1b;

      a.dropdown-item {
         color: white;
      }

      a.dropdown-item:hover {
         background-color: #363535; 
      }
      
   }

   // Table
   table {
      color: white;
      border-bottom: 1px solid gray;
      background-color: #222222;

      tr:hover {
         background-color: #363535;
      }

      td {
         color: gray;
      }
   }


   // Pagination
   .page-link {
      background-color: #1b1b1b;
      border: 1px solid #424242;
      color: white;
   }

   .page-link:hover {
      color: $btn-blue;
      background-color: #363535;
   }

   // Form input
   .form-control {
      background-color: #2b2b2b;
      color: white;
      border: 1px solid #424242;
   }

   // Form select options
   .form-select {
      background-color: #2b2b2b;
      color: white;
      border: 1px solid #424242;
   }


   // Checks
   .form-check-input:checked {
      color:$btn-blue;
      background-color: $btn-blue;
      border: 1px solid $btn-blue;
   }


   // tabs ngx-bootstrap
   a.nav-link {
      color: $btn-blue;
   }

   .nav-tabs .nav-link.active, 
   .nav-tabs .nav-item.show .nav-link {
      background-color: #2b2b2b;
      color: $btn-blue;
      border: 1px solid #424242;
   }
  

      
   
   
}
 





/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
