/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Variables color
$btn-blue: #2B2AFC;


// Light Variables
$white-body: #F1F1F1;
$w-gray-header: #E1E4E7;
$w-gray-border: #E1E4E7;
$txt-dark: #222222;
$gray-hover-white: #E1E4E7;



// Dark Variables
$d-gray-body: #1b1b1b;
$d-gray-header: #2b2b2b;
$d-gray-content: #1b1b1b;
$d-gray-border: #2b2b2b;
$d-gray-input: #242323;
$txt-white: #F7F9F9;



* {
   margin: 0;
   padding: 0;
   font-family: 'Inter', sans-serif;
   box-sizing: border-box;
}

body {
   height: 3000px;
   width: 100%;
}



// Theme Light
body.light {
   background-color: $white-body ;
   color: $txt-dark;
   
   // Buttom
   .btn-primary {
      background-color: $btn-blue !important;
      border-color: $btn-blue !important;
   }

   .card {
      border: 1px solid $w-gray-border;

      .card-header {
         background-color: $w-gray-header;
         border-bottom: none;
      }
   }

   // Menu migalha
   .breadcrumb a {
      text-decoration: none;
      color: $btn-blue;
   }

   // Acordeon
   .accordion-item {
      width: 640px;
      border: 1px solid $w-gray-border;
      
      .accordion-button {
         background-color: rgb(225, 228, 231);
         box-shadow: none;
      }
   }

   // Table
   table {
      background-color: white;

      tr:hover {
         background-color: $gray-hover-white;
      }
   }

   // Pagination
   .pagination {
      padding-left: 400px;

      .page-link {
         color: $btn-blue;
      }
   }

   // Checks
   .form-check-input:checked {
      color:$btn-blue;
      background-color: $btn-blue;
      border: 1px solid $btn-blue;
   }

   // tabs ngx-bootstrap
   a.nav-link {
      background-color: $white-body;
      color: $btn-blue;
      border: 1px solid $w-gray-border;
   }

   .nav-link.active {
      background-color: $w-gray-header;
   }

   .nav-tabs .nav-link.active, 
   .nav-tabs .nav-item.show .nav-link {
      color: $btn-blue; 
   }

   // Component ngx-tag Modal
   .modal-content {
      border: 1px solid $w-gray-border;

      .modal-header {
         background-color: $w-gray-header;
         
      }
   }
   
   

}









// Theme Dark
body.dark {
   background-color: $d-gray-body;
   color:$txt-white;
   
   // Buttom
   .btn-primary {
      background-color: $btn-blue !important;
      border-color: $btn-blue !important;
   }

   // Card
   .card {
      border: 1px solid $d-gray-border;
      background-color: $d-gray-content;
      
      .card-header {
         background-color: $d-gray-header;
         border-bottom: none;
      }
   }

   // Menu migalha
   .breadcrumb a {
      text-decoration: none;
      color: $btn-blue;
   }

   // Acordeon
   .accordion-item {
      width: 640px;
      border: 1px solid $d-gray-border;
      background-color: $d-gray-content;
     
      .accordion-button {
         background-color: $d-gray-header;
         color: $txt-white;
         box-shadow: none;
      }
   }

   // Button Dropdown
   .dropdown-menu {
      background-color: #222222;

      a.dropdown-item {
         color: $txt-white;
      }

      a.dropdown-item:hover {
         background-color: #363535; 
      }
      
   }

   // Table
   table {
      color: $txt-white;
      border-bottom: 1px solid gray;
      background-color: $d-gray-body;

      tr:hover {
         background-color: #363535;
      }

      td {
         color: gray;
      }
   }

   // Pagination
   .pagination {
      padding-left: 400px;

      .page-link {
         background-color: $d-gray-content;
         border: 1px solid $d-gray-border;
         color: $txt-white;
      }
   
      .page-link:hover {
         color: $btn-blue;
         background-color: #363535;
      }
   }
   
   // Form input
   .form-control {
      background-color: $d-gray-input;
      color: $txt-white;
      border: 1px solid $d-gray-border;
   }

   // Form select options
   .form-select {
      background-color: $d-gray-input;
      color: $txt-white;
      border: 1px solid $d-gray-border;
   }

   // Checks
   .form-check-input:checked {
      color:$btn-blue;
      background-color: $btn-blue;
      border: 1px solid $btn-blue;
   }

   // tabs ngx-bootstrap
   a.nav-link {
      color: $btn-blue;
   }

   .nav-tabs {
      border-bottom: 1px solid $d-gray-border;
   }

   .nav-tabs .nav-link.active, 
   .nav-tabs .nav-item.show .nav-link {
      background-color: $d-gray-header;
      color: $btn-blue;
      border: 1px solid $d-gray-border;
   }


   // Component ngx-tag Modal
   .modal-content {
      background-color: $d-gray-content;
      color: $txt-white;

      .modal-header {
         border-bottom: 15px solid $d-gray-border;
         background-color: $d-gray-header;

         .btn-close {
            background: transparent url(./assets/icons/button-close.png) center/1em auto no-repeat;
         }
      }
   }  

   // Date Picker
   .bs-datepicker-container {
      background-color: $d-gray-body;
      box-shadow: none;
      
      .bs-datepicker-body {
         border: 1px solid $d-gray-border;
         

         .days.weeks {
            border-bottom: none;
         }
      }
   }
   
   
}
 





/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
